[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = https://github.com/sifive/freedom-e-sdk.git
	branch = master
[submodule "zephyr"]
	path = zephyr
	url = git@github.com:zephyrproject-rtos/zephyr.git
[submodule "spi-can/CAN_BUS_Shield"]
	path = spi-can/CAN_BUS_Shield
	url = git@github.com:agra-uni-bremen/CAN_BUS_Shield.git
[submodule "spi_can/CAN_BUS_Shield"]
	path = spi_can/CAN_BUS_Shield
	url = git@github.com:agra-uni-bremen/CAN_BUS_Shield.git
[submodule "pmodoled"]
	path = pmodoled
	url = git@github.com:laanwj/pmodoled.git
