[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = https://github.com/sifive/freedom-e-sdk.git
	branch = master
[submodule "zephyr"]
	path = zephyr
	url = git@github.com:zephyrproject-rtos/zephyr.git
